Package: io.github.amaha831.speakershare
Name: speakershare
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: amaha831
Author: amaha831
Section: Tweaks
